@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(47, 171, 209);
}
h1{
  margin-bottom:0;
  margin-top: 60px;
}
h2{
  margin-top: 0;
  margin-bottom: 20px;
}
#texPort{
  font-size: 50px;
  color: #f2f2f2;
  margin-left: 20px;
  margin-top: 120px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 100;
  font-style: normal;
}
#kk{
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #215A7B;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}
.topnav a.active {
  background-color: #123244;
  color: white;
  
}
a.active:hover{
  background-color: #ddd;
  color: black;
}
#antPorts{
  margin-left: 20px;
  font-size: 17px;
  font-weight: bolder;
  text-decoration: none;
  color: #051924
}
#ata:visited{
  color: #051924;
  text-decoration: none;
}
#ata:hover{
  color: #1c4963;
  text-decoration: none;
}
#ata{
  color: white;
  text-decoration: none;
  font-family: "Archivo Black", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.capas{
  margin-top: 15%;
  margin-left: 18%;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #051924;
}
#hum:visited {
  color: #051924;
  text-decoration: none;
}
#hum:hover {
  color: #1c4963;
  text-decoration: none;
}
#hum{
  color: #051924;
  text-decoration: none;
  margin-left: -5%;
}
#tec:visited {
  color: #051924;
  text-decoration: none;
}
#tec:hover {
  color: #1c4963;
  text-decoration: none;
}
#tec{
  margin-top: 50%;
  color: #051924;
  text-decoration: none;
}
#lin:visited {
  color: #051924;
  text-decoration: none;
}
#lin:hover {
  color: #1c4963;
  text-decoration: none;
}
#lin{
  margin-left: 5%;
  color: #051924;
  text-decoration: none;
}
#mat:visited {
  color: #051924;
  text-decoration: none;
}
#mat:hover {
  color: #1c4963;
  text-decoration: none;
}
#mat{
  margin-left: 5%;
  color: #051924;
  text-decoration: none;
}
#nat:visited {
  color: #051924;
  text-decoration: none;
}
#nat:hover {
  color: #1c4963;
  text-decoration: none;
}
#nat{
  margin-left: 6%;
  color: #051924;
  text-decoration: none;
}